.table-container {
  width: 60%;
  margin: 0 auto;
}

.table-style {
  border-collapse: collapse;
  border: 1px solid black;
}

.table-style th,
.table-style td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
